.nav-tabs2{
  border: 0px !important;
}

.panel-body{
  border-top-color: rgb(231, 234, 236) !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
}
  .tabs-container .nav-tabs > button.active{
    background-color: #1ab394 !important;
  }

  @media only screen and (max-width: 767px) {

      .desktop{
        display: none !important;
        visibility: hidden !important;
      }
  }
  @media only screen and (min-width: 768px) {

      .phone{
        display: none !important;
        visibility: hidden !important;
      }
  }
